@import './base.css';
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff; /* Замените на ваш цвет фона */
  --color-text: #c0d5ea; /* Основной цвет текста */
  --color-primary: #0066CC; /* Основной цвет */
  --color-text-light: #ffffff; /* Светлый цвет текста */
  --color-border: #333333; /* Цвет границы */
  
  --header-height: 80px; /* Высота хедера */
  
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  
  --border-radius: 4px;
  
  --transition-speed: 0.3s;
  --arrow-color: #0066CC; /* Цвет стрелки */
  
  /* Добавьте другие переменные при необходимости */
}

[data-theme="dark"] {
  --color-primary: #90b7f8;
  --color-secondary: #e89ff8;
  --color-background: #1A1A1A;
  --color-text: #c0d5ea;
  --color-text-light: #FFFFFF;
  --color-border: #333333;
  --arrow-color: #FF6B6B; /* Пример для стрелок */
  /* Добавьте другие переменные для темной темы */
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
