@import 'variables.css';
@import 'header.css';
@import 'footer.css';
@import 'components/buttons.css';
@import 'components/products.css';
@import 'components/advantages.css';
@import 'components/hero.css';
@import 'fonts.css';
@import 'components/scroll-effects.css';
@import 'components/applications.css';
@import 'components/testimonials.css';
@import 'components/contact-section.css';
@import 'components/news-section.css';
@import 'components/faq.css';
@import 'components/about.css';
@import 'components/sidebar.css';
@import 'components/partners-section.css';
@import 'components/goals.css';
@import 'components/preloader.css';
@import 'pages/contacts.css';
@import 'pages/docs.css';
@import 'components/search.css';
@import 'pages/blog.css';


/* Стили для скроллбара WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 6px;
    border: 3px solid var(--color-background-light);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-dark);
}

::-webkit-scrollbar-track {
    background-color: var(--color-background-light);
    border-radius: 6px;
}

/* Стили для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-background-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-main);

    /* Запрет выделения */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-base);
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-background);
    overflow-y: overlay; /* Для лучшей совместимости с WebKit */
}

.content {
    min-height: calc(100vh - 314px);
}

.container {
    max-width: var(--max-width) !important;
    margin: 0 auto;
    padding: 0 var(--spacing-medium);
}

main {
    padding: var(--spacing-large) 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

body {
    line-height: 1.6;
}

::after, ::before {
    box-sizing: content-box !important;
}
